<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user list page</title>
</head>
<body>
  <ul>
    <% for(let j=0; j<users.length; j++ ) {%>


    <li><%= users[j] %></li>

    <%}%>
  </ul>
</body>
</html>